atcoder-cli-nodejs/
configstore/ 
environment.d/
glib-2.0/
nixpkgs/
gh/
lazydocker/
neofetch/
ruff/
stylua/
zed/
qiita-cli/
git/
nvim/lazy-lock.json
Kvantum
Mousepad
btop
clipit
conky
dconf
dmenu-recent
dunst
epdfview
falkon/profiles
gconf/desktop
gtk-3.0
hexchat
ibus/bus
libfm
morc_menu
nitrogen
pamac
pcmanfm/default
pulse
qt5ct
ranger
volumeicon
xfce4/xfconf/xfce-perchannel-xml
conky-manager.json
manjaro-hello.json
mimeapps.list
morc_menu_v1.conf
pavucontrol.ini
picom.conf
user-dirs.dirs
user-dirs.locale
xarchiver
tmux**.log
