# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer -t 0.0001 source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins]
[plugins.zsh-defer]
github = "romkatv/zsh-defer"
hooks.post = '''
zsh-defer -t 0.001 autoload -Uz compinit
zsh-defer -t 0.001 compinit
'''

[plugins.powerlevel10k]
github = "romkatv/powerlevel10k"

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
apply = ["defer"]
use = ["{{ name }}.zsh"]

[plugins.fast-syntax-highlighting]
github = "zdharma-continuum/fast-syntax-highlighting"
apply = ["defer"]
use = ["{{ name }}.plugin.zsh"]

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"

[plugins.fzf-tab]
github = "Aloxaf/fzf-tab"
apply = ["defer"]
use = ["fzf-tab.zsh"]
hooks.post = """
zstyle ':fzf-tab:*' fzf-command fzf
zstyle ':fzf-tab:*' fzf-preview 'echo {}'
zstyle ':completion:*:descriptions' format '[%d]'
zstyle ':completion:*' menu no
#zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
#zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -1 --color=always $realpath'
"""

[plugins.git-sync]
github = "caarlos0-graveyard/zsh-git-sync"
# apply = ["defer"]
use = ["{{ name }}.plugin.zsh"]

# [plugins."zeno.zsh"]
# github="yuki-yano/zeno.zsh"
# apply = ["defer"]
# use = ["zeno.zsh"]
# hooks.post = '''
# export ZENO_GIT_CAT="gat"
# export ZENO_GIT_TREE="eza --icons=always -T"
#
# bindkey ' ' zeno-auto-snippet
# bindkey '^i' zeno-completion
# bindkey '^g' zeno-ghq-cd
# bindkey '^x' zeno-insert-snippet
# '''

[plugins.abbrev-alias]
github = "momo-lab/zsh-abbrev-alias"
apply = ["defer"]
use = ["{{ name }}.plugin.zsh"]

[plugins.git-completion]
remote = "https://raw.githubusercontent.com/git/git/refs/heads/master/contrib/completion/git-completion.zsh"
apply = ["fpath"]

[plugins.defer_configs]
local = "~/.dotfiles/zsh/zsh.d"
use = ["utils.zsh", "alias.zsh", "func.zsh", "paths.zsh", "completion.zsh"]
apply = ["defer"]

[plugins.nondefer_configs]
local = "~/.dotfiles/zsh/zsh.d"
use = ["p10k.zsh", "hist.zsh"]

# [plugins.tokens]
# local = "~/"
# use = ["tokens.zsh"]  # github_tokenなどを置く

# [plugins.fpath]
# local = "~/.local/share/zsh/custom-completion-zsh"
# apply = ["fpath"]

# [plugins._nix]
# github = "nix-community/nix-zsh-completions"
# use = ["_*"]
# apply = ["fpath"]
# apply = ["defer"]

# For example:
#
# [plugins.base16]
# github = "chriskempson/base16-shell"
